#botonDelete{
	background: url("../../img/backend/icon_tool_delete.png") no-repeat;
	height: 28px;
	width: 28px;
}
#botonDelete:hover{
	background: url("../../img/backend/icon_tool_delete.png") no-repeat 0px -28px;
}
#botonPromote{
	background: url("../../img/backend/icon_tool_view.png") no-repeat;
	height: 28px;
	width: 28px;
}
#botonPromote:hover{
	background: url("../../img/backend/icon_tool_view.png") no-repeat 0px -28px;
}
#botonEdit{
	background: url("../../img/backend/icon_tool_edit.png") no-repeat;
	height: 28px;
	width: 28px;
}
#botonEdit:hover{
	background: url("../../img/backend/icon_tool_edit.png") no-repeat 0px -28px;
}
#botonImages{
	background: url("../../img/backend/icon_tool_picture.png") no-repeat;
	height: 40px;
	width: 28px;
}
#botonImages:hover{
	background: url("../../img/backend/icon_tool_picture.png") no-repeat 0px -53px;
}
#botonSell{
	background: url("../../img/backend/icon_tool_sell.png") no-repeat;
	height: 40px;
	width: 28px;
}
#botonSell:hover{
	background: url("../../img/backend/icon_tool_sell.png") no-repeat 0px -54px;
}